# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [163]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

#school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [45]:
# Create a District Summary
print("There are " + str(total_num_schools) + " schools in the district.")
print("There are " + str(total_num_students) + " students in the district.")
print("There is a total budget of $" + str(total_budget) + " for the district.")
print("The average math score in the district is " + str(avg_math_score))
print("The average reading score in the district is " + str(avg_read_score))
print("The average overall score in the district is " + str(avg_overall_score))
print("The percent of students passing math in the district is %" + str(percentage_pass_math))
print("The percent of students passing reading in the district is %" + str(percentage_pass_read))
result_dataframe

There are 15 schools in the district.
There are 39170 students in the district.
There is a total budget of $24649428 for the district.
The average math score in the district is 80.4
The average reading score in the district is 82.6
The average overall score in the district is 80.44
The percent of students passing math in the district is %74.98
The percent of students passing reading in the district is %85.81

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,Math Passing Percentage,Reading Passing Percentage
0,15,39170,24649428,78.99,81.88,80.44,74.98,85.81

In [223]:
# Total number of schools
#total_num_schools = school_data_complete.groupby('school_name')
total_num_schools = len(school_data_complete['school_name'].value_counts())

In [27]:
# Total number of students
total_num_students = school_data_complete['Student ID'].count()
total_num_students

39170

In [28]:
# Total budget
#total_budget = school_data_complete['budget'].unique().sum()
#total_budget
total_budget = school_data_complete['budget'].unique().sum()
total_budget

24649428

In [29]:
# Average math score
avg_math_score = round(school_data_complete['math_score'].mean(), 2)
avg_math_score

78.99

In [30]:
# Average reading score
avg_read_score = round(school_data_complete['reading_score'].mean(), 2)
avg_read_score

81.88

In [31]:
# Overall average score
avg_overall_score = round((avg_math_score + avg_read_score)/2, 2)
avg_overall_score

80.44

In [32]:
# Percentage of passing math (70 or greater)
percentage_pass_math = round(len(school_data_complete[school_data_complete['math_score'] >= 70])/total_num_students*100, 2)
percentage_pass_math
#math_percentage = (len(data[data["math_score"] >= 70]) / total_students) * 100

74.98

In [33]:
# Percentage of passing reading (70 or greater)
percentage_pass_read = round(len(school_data_complete[school_data_complete['reading_score'] >= 70])/total_num_students*100, 2)
percentage_pass_read

85.81

In [34]:
#Create a DataFrame to hold the above results
data = {'Total Number of Schools':[total_num_schools],\
        'Total Number of Students':[total_num_students],\
        'Total Budget':[total_budget],\
        'Average Math Score':[avg_math_score],\
        'Average Reading Score':[avg_read_score],\
        'Overall Average Score':[avg_overall_score],\
        'Math Passing Percentage':[percentage_pass_math],\
        'Reading Passing Percentage':[percentage_pass_read]}
result_dataframe = pd.DataFrame(data)
result_dataframe

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,Math Passing Percentage,Reading Passing Percentage
0,15,39170,24649428,78.99,81.88,80.44,74.98,85.81

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [35]:
#school_summary_data_to_add = []
#school_summary_data = {'School Name':[]}
#school_summary_table = pd.DataFrame(school_summary_data)

#for school in school_data_complete['school_name'].unique() :
#    school_summary_data_to_add += [school]    
#school_summary_data = {'School Name':school_summary_data_to_add}
#dict_to_frame = pd.DataFrame(school_summary_data)
#school_summary_table = pd.concat([school_summary_table, dict_to_frame], ignore_index=True)





#dict_to_frame    
#school_summary_data   
#school_summary_data_to_add
#school_summary_table

In [36]:
school_name = school_data_complete.groupby('school_name')

school_type = school_name['type'].first()
total_students = school_name['student_name'].count()
total_school_budget = school_name['budget'].first()
Per_Student_Budget =  total_school_budget / total_students

Average_Math_Score = round(school_name['math_score'].mean())
Average_Reading_Score = round(school_name['reading_score'].mean())

passing_math = round(school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_name'].count() / total_students * 100)
passing_reading = round(school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count() / total_students * 100)
overall_passing_rate = round((passing_math + passing_reading) / 2)

school_summary = {
    'School Type': school_type,
    'Total Students': total_students,
    'Total School Budget': total_school_budget, 
    'Per Student Budget': Per_Student_Budget,
    'Average Math Score': Average_Math_Score,
    'Average Reading Score': Average_Reading_Score,
    'Passing Math': passing_math,
    'Passing Reading': passing_reading,
    'Average Overall Passing Rate': overall_passing_rate,
}

data = pd.DataFrame(school_summary)
data

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Average Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.0,81.0,67.0,82.0,74.0
Cabrera High School,Charter,1858,1081356,582.0,83.0,84.0,94.0,97.0,96.0
Figueroa High School,District,2949,1884411,639.0,77.0,81.0,66.0,81.0,74.0
Ford High School,District,2739,1763916,644.0,77.0,81.0,68.0,79.0,74.0
Griffin High School,Charter,1468,917500,625.0,83.0,84.0,93.0,97.0,95.0
Hernandez High School,District,4635,3022020,652.0,77.0,81.0,67.0,81.0,74.0
Holden High School,Charter,427,248087,581.0,84.0,84.0,93.0,96.0,94.0
Huang High School,District,2917,1910635,655.0,77.0,81.0,66.0,81.0,74.0
Johnson High School,District,4761,3094650,650.0,77.0,81.0,66.0,81.0,74.0
Pena High School,Charter,962,585858,609.0,84.0,84.0,95.0,96.0,96.0
Rodriguez High School,District,3999,2547363,637.0,77.0,81.0,66.0,80.0,73.0
Shelton High School,Charter,1761,1056600,600.0,83.0,84.0,94.0,96.0,95.0
Thomas High School,Charter,1635,1043130,638.0,83.0,84.0,93.0,97.0,95.0
Wilson High School,Charter,2283,1319574,578.0,83.0,84.0,94.0,97.0,96.0
Wright High School,Charter,1800,1049400,583.0,84.0,84.0,93.0,97.0,95.0

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [37]:
#  Sort and display the top five schools in overall passing rate
top_performing_schools = pd.DataFrame(data['Average Overall Passing Rate'].sort_values(ascending=False).head())
top_performing_schools

                     Average Overall Passing Rate
school_name
Cabrera High School                          96.0
Pena High School                             96.0
Wilson High School                           96.0
Griffin High School                          95.0
Shelton High School                          95.0

In [38]:
# Calculate total school budget
total_school_budget = pd.DataFrame(data['Total School Budget'].sort_values(ascending=False).head())
total_school_budget

                       Total School Budget
school_name
Bailey High School                 3124928
Johnson High School                3094650
Hernandez High School              3022020
Rodriguez High School              2547363
Huang High School                  1910635

In [39]:
# Calculate per student budget
per_student_budget = pd.DataFrame(data['Per Student Budget'].sort_values(ascending=False).head())
per_student_budget

                       Per Student Budget
school_name
Huang High School                   655.0
Hernandez High School               652.0
Johnson High School                 650.0
Ford High School                    644.0
Figueroa High School                639.0

In [40]:
# Cacluate the avg math and reading score
avg_math_score = data['Average Math Score'].mean()
avg_read_score = data['Average Reading Score'].mean()
print('Average math score', avg_math_score)
print('Average reading score', avg_read_score)

Average math score 80.4
Average reading score 82.6

#### Find the passing rate for math and reading (above 70 points)

In [70]:
# Find the total counts of math result
total_num_passed_math = school_data_complete[school_data_complete['math_score'] >= 70].count()
print("The total number of students that passed math is", total_num_passed_math[1])

# Find the counts for math result in each school that pass 70 or higher
num_passed_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_name'].count()
print(num_passed_math)

# Calculate the math passing rate
print("The overall passing rate for math is %" + str(percentage_pass_math))

The total number of students that passed math is 29370
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64
The overall passing rate for math is %74.98

In [74]:
# Find the total counts of read result
total_num_passed_reading = school_data_complete[school_data_complete['reading_score'] >= 70].count()
print("The total number of students that passed reading is", total_num_passed_reading[1])

# Find the counts for read result in each school that pass 70 or higher
num_passed_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count()
print(num_passed_reading)

# Calculate the read passing rate
print("The overall passing rate for reading is %" + str(percentage_pass_read))

The total number of students that passed reading is 33610
school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64
The overall passing rate for reading is %85.81

In [79]:
# Calculate the overall passing rate (average of the math and reading passing rate)
total_passing_rate = (percentage_pass_math + percentage_pass_read)/2
total_passing_rate

80.39500000000001

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [81]:
#  Sort and display the worst five schools in overall passing rate
bottom_performing_schools = pd.DataFrame(data['Average Overall Passing Rate'].sort_values(ascending=False).tail())
bottom_performing_schools

                       Average Overall Passing Rate
school_name
Ford High School                               74.0
Hernandez High School                          74.0
Huang High School                              74.0
Johnson High School                            74.0
Rodriguez High School                          73.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [123]:
# Create table that lists the average math score for each school of each grade level.

math_scores_by_grade = pd.DataFrame(round(school_data_complete.groupby(['school_name', 'grade'])['math_score'].mean(), 2))
math_scores_by_grade

                             math_score
school_name           grade
Bailey High School    10th        77.00
                      11th        77.52
                      12th        76.49
                      9th         77.08
Cabrera High School   10th        83.15
                      11th        82.77
                      12th        83.28
                      9th         83.09
Figueroa High School  10th        76.54
                      11th        76.88
                      12th        77.15
                      9th         76.40
Ford High School      10th        77.67
                      11th        76.92
                      12th        76.18
                      9th         77.36
Griffin High School   10th        84.23
                      11th        83.84
                      12th        83.36
                      9th         82.04
Hernandez High School 10th        77.34
                      11th        77.14
                      12th        77.19
                      9th         77.44
Holden High School    10th        83.43
                      11th        85.00
                      12th        82.86
                      9th         83.79
Huang High School     10th        75.91
                      11th        76.45
                      12th        77.23
                      9th         77.03
Johnson High School   10th        76.69
                      11th        77.49
                      12th        76.86
                      9th         77.19
Pena High School      10th        83.37
                      11th        84.33
                      12th        84.12
                      9th         83.63
Rodriguez High School 10th        76.61
                      11th        76.40
                      12th        77.69
                      9th         76.86
Shelton High School   10th        82.92
                      11th        83.38
                      12th        83.78
                      9th         83.42
Thomas High School    10th        83.09
                      11th        83.50
                      12th        83.50
                      9th         83.59
Wilson High School    10th        83.72
                      11th        83.20
                      12th        83.04
                      9th         83.09
Wright High School    10th        84.01
                      11th        83.84
                      12th        83.64
                      9th         83.26

In [135]:
# Calculate the average math score for 9th grade in each school
ninth_grade_math_scores = pd.DataFrame(round(school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['math_score'].mean(), 2))
ninth_grade_math_scores

                       math_score
school_name
Bailey High School          77.08
Cabrera High School         83.09
Figueroa High School        76.40
Ford High School            77.36
Griffin High School         82.04
Hernandez High School       77.44
Holden High School          83.79
Huang High School           77.03
Johnson High School         77.19
Pena High School            83.63
Rodriguez High School       76.86
Shelton High School         83.42
Thomas High School          83.59
Wilson High School          83.09
Wright High School          83.26

In [136]:
# Calculate the average math score for 10th grade in each school
tenth_grade_math_scores = pd.DataFrame(round(school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['math_score'].mean(), 2))
tenth_grade_math_scores

                       math_score
school_name
Bailey High School          77.00
Cabrera High School         83.15
Figueroa High School        76.54
Ford High School            77.67
Griffin High School         84.23
Hernandez High School       77.34
Holden High School          83.43
Huang High School           75.91
Johnson High School         76.69
Pena High School            83.37
Rodriguez High School       76.61
Shelton High School         82.92
Thomas High School          83.09
Wilson High School          83.72
Wright High School          84.01

In [137]:
# Calculate the average math score for 11th grade in each school
eleventh_grade_math_scores = pd.DataFrame(round(school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['math_score'].mean(), 2))
eleventh_grade_math_scores

                       math_score
school_name
Bailey High School          77.52
Cabrera High School         82.77
Figueroa High School        76.88
Ford High School            76.92
Griffin High School         83.84
Hernandez High School       77.14
Holden High School          85.00
Huang High School           76.45
Johnson High School         77.49
Pena High School            84.33
Rodriguez High School       76.40
Shelton High School         83.38
Thomas High School          83.50
Wilson High School          83.20
Wright High School          83.84

In [138]:
# Calculate the average math score for 12th grade in each school
twelth_grade_math_scores = pd.DataFrame(round(school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['math_score'].mean(), 2))
twelth_grade_math_scores

                       math_score
school_name
Bailey High School          76.49
Cabrera High School         83.28
Figueroa High School        77.15
Ford High School            76.18
Griffin High School         83.36
Hernandez High School       77.19
Holden High School          82.86
Huang High School           77.23
Johnson High School         76.86
Pena High School            84.12
Rodriguez High School       77.69
Shelton High School         83.78
Thomas High School          83.50
Wilson High School          83.04
Wright High School          83.64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [139]:
# Create table that lists the average reading score for each school of each grade level.
reading_scores_by_grade = pd.DataFrame(round(school_data_complete.groupby(['school_name', 'grade'])['reading_score'].mean(), 2))
reading_scores_by_grade

                             reading_score
school_name           grade
Bailey High School    10th           80.91
                      11th           80.95
                      12th           80.91
                      9th            81.30
Cabrera High School   10th           84.25
                      11th           83.79
                      12th           84.29
                      9th            83.68
Figueroa High School  10th           81.41
                      11th           80.64
                      12th           81.38
                      9th            81.20
Ford High School      10th           81.26
                      11th           80.40
                      12th           80.66
                      9th            80.63
Griffin High School   10th           83.71
                      11th           84.29
                      12th           84.01
                      9th            83.37
Hernandez High School 10th           80.66
                      11th           81.40
                      12th           80.86
                      9th            80.87
Holden High School    10th           83.32
                      11th           83.82
                      12th           84.70
                      9th            83.68
Huang High School     10th           81.51
                      11th           81.42
                      12th           80.31
                      9th            81.29
Johnson High School   10th           80.77
                      11th           80.62
                      12th           81.23
                      9th            81.26
Pena High School      10th           83.61
                      11th           84.34
                      12th           84.59
                      9th            83.81
Rodriguez High School 10th           80.63
                      11th           80.86
                      12th           80.38
                      9th            80.99
Shelton High School   10th           83.44
                      11th           84.37
                      12th           82.78
                      9th            84.12
Thomas High School    10th           84.25
                      11th           83.59
                      12th           83.83
                      9th            83.73
Wilson High School    10th           84.02
                      11th           83.76
                      12th           84.32
                      9th            83.94
Wright High School    10th           83.81
                      11th           84.16
                      12th           84.07
                      9th            83.83

In [140]:
# Calculate the average reading score for 9th grade in each school
ninth_grade_reading_scores = pd.DataFrame(round(school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['reading_score'].mean(), 2))
ninth_grade_reading_scores

                       reading_score
school_name
Bailey High School             81.30
Cabrera High School            83.68
Figueroa High School           81.20
Ford High School               80.63
Griffin High School            83.37
Hernandez High School          80.87
Holden High School             83.68
Huang High School              81.29
Johnson High School            81.26
Pena High School               83.81
Rodriguez High School          80.99
Shelton High School            84.12
Thomas High School             83.73
Wilson High School             83.94
Wright High School             83.83

In [141]:
# Calculate the average reading score for 10th grade in each school
tenth_grade_reading_scores = pd.DataFrame(round(school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean(), 2))
tenth_grade_reading_scores

                       reading_score
school_name
Bailey High School             80.91
Cabrera High School            84.25
Figueroa High School           81.41
Ford High School               81.26
Griffin High School            83.71
Hernandez High School          80.66
Holden High School             83.32
Huang High School              81.51
Johnson High School            80.77
Pena High School               83.61
Rodriguez High School          80.63
Shelton High School            83.44
Thomas High School             84.25
Wilson High School             84.02
Wright High School             83.81

In [142]:
# Calculate the average reading score for 11th grade in each school
eleventh_grade_reading_scores = pd.DataFrame(round(school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['reading_score'].mean(), 2))
eleventh_grade_reading_scores

                       reading_score
school_name
Bailey High School             80.95
Cabrera High School            83.79
Figueroa High School           80.64
Ford High School               80.40
Griffin High School            84.29
Hernandez High School          81.40
Holden High School             83.82
Huang High School              81.42
Johnson High School            80.62
Pena High School               84.34
Rodriguez High School          80.86
Shelton High School            84.37
Thomas High School             83.59
Wilson High School             83.76
Wright High School             84.16

In [143]:
# Calculate the average reading score for 12th grade in each school
twelth_grade_reading_scores = pd.DataFrame(round(school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean(), 2))
twelth_grade_reading_scores

                       reading_score
school_name
Bailey High School             80.91
Cabrera High School            84.29
Figueroa High School           81.38
Ford High School               80.66
Griffin High School            84.01
Hernandez High School          80.86
Holden High School             84.70
Huang High School              80.31
Johnson High School            81.23
Pena High School               84.59
Rodriguez High School          80.38
Shelton High School            82.78
Thomas High School             83.83
Wilson High School             84.32
Wright High School             84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [200]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
spending_group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

scores_by_spending = pd.DataFrame({
    "Average Math Score": math_score_by_spending,
    "Average Reading Score": reading_score_by_spending,
    "% Passing Math": passing_math_by_spending,
    "% Passing Reading": passing_reading_by_spending,
    "% Overall Passing Rate": overall_passing_rate_by_spending
})
scores_by_spending.index.name = "Spending Ranges (Per Student)"
scores_by_spending = scores_by_spending.reindex(spending_group_names)

round(scores_by_spending, 2)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.36,83.96,93.70,96.69,95.19
$585-615,83.53,83.84,94.12,95.89,95.01
$615-645,78.06,81.43,71.40,83.61,77.51
$645-675,77.05,81.01,66.23,81.11,73.67

In [186]:
# Create a new column to show budget per student in each row
school_data_complete["Budget per Student"] = school_data_complete["budget"] / school_data_complete["size"]
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Budget per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0

In [188]:
# Create a new column to define the spending ranges per student
school_data_complete['Spending Ranges (Per Student)'] = pd.cut(school_data_complete['Budget per Student'], spending_bins, labels=spending_group_names)
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Budget per Student,Spending Ranges (Per Student)
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,$645-675
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,$645-675
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0,$645-675
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0,$645-675
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0,$645-675

In [190]:
# Calculate the average math score within each spending range
math_score_by_spending = school_data_complete.groupby("Spending Ranges (Per Student)")["math_score"].mean()
math_score_by_spending

Spending Ranges (Per Student)
<$585       83.363065
$585-615    83.529196
$615-645    78.061635
$645-675    77.049297
Name: math_score, dtype: float64

In [195]:
reading_score_by_spending = school_data_complete.groupby("Spending Ranges (Per Student)")["reading_score"].mean()
reading_score_by_spending

Spending Ranges (Per Student)
<$585       83.964039
$585-615    83.838414
$615-645    81.434088
$645-675    81.005604
Name: reading_score, dtype: float64

In [191]:
# Calculate the percentage passing rate for math in each spending range
passing_math_by_spending = school_data_complete[school_data_complete["math_score"] >= 70].groupby("Spending Ranges (Per Student)")["math_score"].count() / school_data_complete.groupby("Spending Ranges (Per Student)")["math_score"].count() * 100
passing_math_by_spending

Spending Ranges (Per Student)
<$585       93.702889
$585-615    94.124128
$615-645    71.400428
$645-675    66.230813
Name: math_score, dtype: float64

In [192]:
# Calculate the percentage passing rate for reading in each spending range
passing_reading_by_spending = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("Spending Ranges (Per Student)")["reading_score"].count() / school_data_complete.groupby("Spending Ranges (Per Student)")["reading_score"].count() * 100
passing_reading_by_spending

Spending Ranges (Per Student)
<$585       96.686558
$585-615    95.886889
$615-645    83.614770
$645-675    81.109397
Name: reading_score, dtype: float64

In [193]:
# Calculate the percentage overall passing rate in each spending range
overall_passing_rate_by_spending = (passing_math_by_spending + passing_reading_by_spending) / 2
overall_passing_rate_by_spending

Spending Ranges (Per Student)
<$585       95.194724
$585-615    95.005509
$615-645    77.507599
$645-675    73.670105
dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [203]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
size_group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [212]:

scores_by_size = pd.DataFrame({
    "Average Math Score": math_score_by_size,
    "Average Reading Score": reading_score_by_size,
    "% Passing Math": passing_math_by_size,
    "% Passing Reading": passing_reading_by_size,
    "% Overall Passing Rate": overall_passing_rate_by_size
})
scores_by_size.index.name = "Size Ranges"
scores_by_size = scores_by_size.reindex(size_group_names)

round(scores_by_size, 2)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Size Ranges,,,,,
Small (<1000),83.83,83.97,93.95,96.04,95.00
Medium (1000-2000),83.37,83.87,93.62,96.77,95.19
Large (2000-5000),77.48,81.20,68.65,82.13,75.39

In [205]:
# Create a new column for the bin groups
school_data_complete['Size Ranges'] = pd.cut(school_data_complete['size'], size_bins, labels=size_group_names)
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Budget per Student,Spending Ranges (Per Student),Size Ranges
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)

In [206]:
math_score_by_size = school_data_complete.groupby('Size Ranges')["math_score"].mean()
math_score_by_size

Size Ranges
Small (<1000)         83.828654
Medium (1000-2000)    83.372682
Large (2000-5000)     77.477597
Name: math_score, dtype: float64

In [207]:
reading_score_by_size = school_data_complete.groupby('Size Ranges')['reading_score'].mean()
reading_score_by_size

Size Ranges
Small (<1000)         83.974082
Medium (1000-2000)    83.867989
Large (2000-5000)     81.198674
Name: reading_score, dtype: float64

Look for the total count of test scores that pass 70% or higher

In [208]:
# math_pass_size
passing_math_by_size = school_data_complete[school_data_complete["math_score"] >= 70].groupby('Size Ranges')['math_score'].count() / school_data_complete.groupby('Size Ranges')["math_score"].count() * 100
passing_math_by_size

Size Ranges
Small (<1000)         93.952484
Medium (1000-2000)    93.616522
Large (2000-5000)     68.652380
Name: math_score, dtype: float64

In [209]:
# read_pass_size
passing_reading_by_size = school_data_complete[school_data_complete["reading_score"] >= 70].groupby('Size Ranges')['reading_score'].count() / school_data_complete.groupby('Size Ranges')["reading_score"].count() * 100
passing_reading_by_size

Size Ranges
Small (<1000)         96.040317
Medium (1000-2000)    96.773058
Large (2000-5000)     82.125158
Name: reading_score, dtype: float64

In [210]:
# Calculate the overall passing rate for different school size
overall_passing_rate_by_size = (passing_math_by_size + passing_reading_by_size) / 2
overall_passing_rate_by_size

Size Ranges
Small (<1000)         94.996400
Medium (1000-2000)    95.194790
Large (2000-5000)     75.388769
dtype: float64

### Scores by School Type

* Perform the same operations as above, based on school type.

In [220]:
# Create bins and groups, school type {'Charter', 'District'}
#type_bins = ['Charter', 'District']
type_group_names = ['Charter', 'District']

In [222]:
scores_by_type = pd.DataFrame({
    "Average Math Score": math_score_by_type,
    "Average Reading Score": reading_score_by_type,
    "% Passing Math": passing_math_by_type,
    "% Passing Reading": passing_reading_by_type,
    "% Overall Passing Rate": overall_passing_rate_by_type
})
scores_by_type.index.name = "Types"
scores_by_type = scores_by_type.reindex(type_group_names)

round(scores_by_type, 2)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Types,,,,,
Charter,83.41,83.90,93.70,96.65,95.17
District,76.99,80.96,66.52,80.91,73.71

In [ ]:
#school_data_complete['Types'] = pd.cut(school_data_complete['type'], type_bins, labels=type_group_names)
#school_data_complete.head()

In [213]:
math_score_by_type = school_data_complete.groupby('type')["math_score"].mean()
math_score_by_type

type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [214]:
reading_score_by_type = school_data_complete.groupby('type')["reading_score"].mean()
reading_score_by_type

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

Find counts of the passing 70 or higher score for the both test

In [215]:
# math pass size
passing_math_by_type = school_data_complete[school_data_complete["math_score"] >= 70].groupby('type')['math_score'].count() / school_data_complete.groupby('type')["math_score"].count() * 100
passing_math_by_type

type
Charter     93.701821
District    66.518387
Name: math_score, dtype: float64

In [216]:
# reading pass size
passing_reading_by_type = school_data_complete[school_data_complete["reading_score"] >= 70].groupby('type')['reading_score'].count() / school_data_complete.groupby('type')["reading_score"].count() * 100
passing_reading_by_type

type
Charter     96.645891
District    80.905249
Name: reading_score, dtype: float64

In [217]:
# Calculate the overall passing rate
overall_passing_rate_by_type = (passing_math_by_type + passing_reading_by_type) / 2
overall_passing_rate_by_type

type
Charter     95.173856
District    73.711818
dtype: float64