# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

#school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [120]:
# Create a District Summary
print("There are " + str(total_num_schools) + " schools in the district.")
print("There are " + str(total_num_students) + " students in the district.")
print("There is a total budget of $" + str(total_budget) + " for the district.")
print("The average math score in the district is " + str(avg_math_score))
print("The average reading score in the district is " + str(avg_read_score))
print("The average overall score in the district is " + str(avg_overall_score))
print("The percent of students passing math in the district is %" + str(percentage_pass_math))
print("The percent of students passing reading in the district is %" + str(percentage_pass_read))
result_dataframe

There are 15 schools in the district.
There are 39170 students in the district.
There is a total budget of $24649428 for the district.
The average math score in the district is 78.99
The average reading score in the district is 81.88
The average overall score in the district is 80.44
The percent of students passing math in the district is %74.98
The percent of students passing reading in the district is %85.81

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,Math Passing Percentage,Reading Passing Percentage
0,15,39170,24649428,78.99,81.88,80.44,74.98,85.81

In [37]:
# Total number of schools
#total_num_schools = school_data_complete.groupby('school_name')
total_num_schools = len(school_data_complete['school_name'].value_counts())

In [41]:
# Total number of students
total_num_students = school_data_complete['Student ID'].count()
total_num_students

39170

In [51]:
# Total budget
#total_budget = school_data_complete['budget'].unique().sum()
#total_budget
total_budget = school_data_complete['budget'].unique().sum()
total_budget

24649428

In [69]:
# Average math score
avg_math_score = round(school_data_complete['math_score'].mean(), 2)
avg_math_score

78.99

In [74]:
# Average reading score
avg_read_score = round(school_data_complete['reading_score'].mean(), 2)
avg_read_score

81.88

In [89]:
# Overall average score
avg_overall_score = round((avg_math_score + avg_read_score)/2, 2)
avg_overall_score

80.44

In [104]:
# Percentage of passing math (70 or greater)
percentage_pass_math = round(len(school_data_complete[school_data_complete['math_score'] >= 70])/total_num_students*100, 2)
percentage_pass_math
#math_percentage = (len(data[data["math_score"] >= 70]) / total_students) * 100

74.98

In [105]:
# Percentage of passing reading (70 or greater)
percentage_pass_read = round(len(school_data_complete[school_data_complete['reading_score'] >= 70])/total_num_students*100, 2)
percentage_pass_read

85.81

In [118]:
#Create a DataFrame to hold the above results
data = {'Total Number of Schools':[total_num_schools],\
        'Total Number of Students':[total_num_students],\
        'Total Budget':[total_budget],\
        'Average Math Score':[avg_math_score],\
        'Average Reading Score':[avg_read_score],\
        'Overall Average Score':[avg_overall_score],\
        'Math Passing Percentage':[percentage_pass_math],\
        'Reading Passing Percentage':[percentage_pass_read]}
result_dataframe = pd.DataFrame(data)
result_dataframe

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,Math Passing Percentage,Reading Passing Percentage
0,15,39170,24649428,78.99,81.88,80.44,74.98,85.81

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [168]:
#school_summary_data_to_add = []
#school_summary_data = {'School Name':[]}
#school_summary_table = pd.DataFrame(school_summary_data)

#for school in school_data_complete['school_name'].unique() :
#    school_summary_data_to_add += [school]    
#school_summary_data = {'School Name':school_summary_data_to_add}
#dict_to_frame = pd.DataFrame(school_summary_data)
#school_summary_table = pd.concat([school_summary_table, dict_to_frame], ignore_index=True)





#dict_to_frame    
#school_summary_data   
#school_summary_data_to_add
#school_summary_table

              School Name
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School

In [171]:
school_name = school_data_complete.groupby('school_name')

school_type = school_name['type'].first()
total_students = school_name['student_name'].count()
total_school_budget = school_name['budget'].first()
Per_Student_Budget =  total_school_budget / total_students

Average_Math_Score = round(school_name['math_score'].mean())
Average_Reading_Score = round(school_name['reading_score'].mean())

passing_math = round(school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_name'].count() / total_students * 100)
passing_reading = round(school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count() / total_students * 100)
overall_passing_rate = round((passing_math + passing_reading) / 2)

school_summary = {
    'School Type': school_type,
    'Total Students': total_students,
    'Total School Budget': total_school_budget, 
    'Per Student Budget': Per_Student_Budget,
    'Average Math Score': Average_Math_Score,
    'Average Reading Score': Average_Reading_Score,
    'Passing Math': passing_math,
    'Passing Reading': passing_reading,
    'Average Overall Passing Rate': overall_passing_rate,
}

data = pd.DataFrame(school_summary)
data

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Average Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.0,81.0,67.0,82.0,74.0
Cabrera High School,Charter,1858,1081356,582.0,83.0,84.0,94.0,97.0,96.0
Figueroa High School,District,2949,1884411,639.0,77.0,81.0,66.0,81.0,74.0
Ford High School,District,2739,1763916,644.0,77.0,81.0,68.0,79.0,74.0
Griffin High School,Charter,1468,917500,625.0,83.0,84.0,93.0,97.0,95.0
Hernandez High School,District,4635,3022020,652.0,77.0,81.0,67.0,81.0,74.0
Holden High School,Charter,427,248087,581.0,84.0,84.0,93.0,96.0,94.0
Huang High School,District,2917,1910635,655.0,77.0,81.0,66.0,81.0,74.0
Johnson High School,District,4761,3094650,650.0,77.0,81.0,66.0,81.0,74.0
Pena High School,Charter,962,585858,609.0,84.0,84.0,95.0,96.0,96.0
Rodriguez High School,District,3999,2547363,637.0,77.0,81.0,66.0,80.0,73.0
Shelton High School,Charter,1761,1056600,600.0,83.0,84.0,94.0,96.0,95.0
Thomas High School,Charter,1635,1043130,638.0,83.0,84.0,93.0,97.0,95.0
Wilson High School,Charter,2283,1319574,578.0,83.0,84.0,94.0,97.0,96.0
Wright High School,Charter,1800,1049400,583.0,84.0,84.0,93.0,97.0,95.0

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [204]:
#  Sort and display the top five schools in overall passing rate
top_performing_schools = pd.DataFrame(data['Average Overall Passing Rate'].sort_values(ascending=False).head())
top_performing_schools

                     Average Overall Passing Rate
school_name
Cabrera High School                          96.0
Pena High School                             96.0
Wilson High School                           96.0
Griffin High School                          95.0
Shelton High School                          95.0

In [203]:
# Calculate total school budget
total_school_budget = pd.DataFrame(data['Total School Budget'].sort_values(ascending=False).head())
total_school_budget

                       Total School Budget
school_name
Bailey High School                 3124928
Johnson High School                3094650
Hernandez High School              3022020
Rodriguez High School              2547363
Huang High School                  1910635

In [202]:
# Calculate per student budget
per_student_budget = pd.DataFrame(data['Per Student Budget'].sort_values(ascending=False).head())
per_student_budget

                       Per Student Budget
school_name
Huang High School                   655.0
Hernandez High School               652.0
Johnson High School                 650.0
Ford High School                    644.0
Figueroa High School                639.0

In [230]:
# Cacluate the avg math and reading score
avg_math_score = data['Average Math Score'].mean()
avg_read_score = data['Average Reading Score'].mean()
print('Average math score', avg_math_score)
print('Average reading score', avg_read_score)

Average math score 80.4
Average reading score 82.6

#### Find the passing rate for math and reading (above 70 points)

In [ ]:
# Find the total counts of math result


# Find the counts for math result in each school that pass 70 or higher


# Calculate the math passing rate

In [ ]:
# Find the total counts of read result


# Find the counts for read result in each school that pass 70 or higher


# Calculate the read passing rate

In [ ]:
# Calculate the overall passing rate (average of the math and reading passing rate)

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
#  Sort and display the worst five schools in overall passing rate

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
# Create table that lists the average math score for each school of each grade level.

In [ ]:
# Calculate the average math score for 9th grade in each school

In [ ]:
# Calculate the average math score for 10th grade in each school

In [ ]:
# Calculate the average math score for 11th grade in each school

In [ ]:
# Calculate the average math score for 12th grade in each school

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Create table that lists the average reading score for each school of each grade level.

In [ ]:
# Calculate the average reading score for 9th grade in each school

In [ ]:
# Calculate the average reading score for 10th grade in each school

In [ ]:
# Calculate the average reading score for 11th grade in each school

In [ ]:
# Calculate the average reading score for 12th grade in each school

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate